/* GENERAL */
nav {
    margin-top: -30px;
}

.JumboHeaderImg{
    background-image: url("img/logo_UGR.png"); 
    background-size: cover;
}



/* PORTADA */
#evento {
    margin: 15px 15px 15px 15px;
}

#m_der {
    float:right;
}

/* RESULTADOS */
.eventos {
    margin-top: 20px;
}

.evento {
    margin: 18px 18px 18px 18px;
}

.filtros {
    margin-top: 20px;
}
.filtro {
    margin: 10px 10px 10px 10px;
}

.page-footer {
    background-color:#dc3545 !important;
    color: white;
    padding: 25px 25px 25px 25px;
}

.page-footer a {
    color: white;
}

div.calendario {
    margin: 15px 15px 15px 15px;
}

/* DETALLE */

div.titulo {
    text-align: center;
    padding: 15px 15px 15px 15px;
}

div.detalle {
    padding: 15px 15px 15px 15px;
}

div.info {
    text-align: center;
}

button.btn {
    width: 80%;
    margin: 15px 15px 15px 15px;
}