/* GENERAL */
nav {
    margin-top: -35px;
}

.JumboHeaderImg{
    background-image: url("img/logo_UGR.png"); 
    background-size: cover;
}

.header {
    background: linear-gradient(to right, #fa7582 , rgb(255, 187, 109));
}

h1.display-3 {
    text-shadow: rgb(87, 66, 66) 2px 2px 3px;
}

.header p {
    letter-spacing: 2px;
    margin-left: 30%;
}

.right-align {
    float: right;
    margin-right: -30%;
    padding-bottom: -10px;
    padding-top: 10px;
}

.navbar {
    width: 100%;
}

.navbar-nav {
    width: 100%;
}

.right-align li.nav-item {
    margin-right: 14px;
}

/* Si la pantalla es mas pequeña se ajusta el margen de los elementos
   del nav de la parte derecha */

@media screen and (max-width: 1000px) and (min-width: 500px){
    .right-align {
        margin-right: 0%;
    }
}


/* PORTADA */
#evento {
    margin: 15px 15px 15px 15px;
}

/* RESULTADOS */
.eventos {
    margin-top: 20px;
}

.evento {
    margin: 18px 18px 18px 18px;
}

.filtros {
    margin-top: 20px;
}
.filtro {
    margin: 10px 10px 10px 10px;
}

.page-footer {
    background-color:#dc3545 !important;
    color: white;
    padding: 25px 25px 25px 25px;
}

.page-footer a {
    color: white;
}

div.calendario {
    margin: 15px 15px 15px 15px;
}

/* DETALLE */

div.titulo {
    text-align: center;
    padding: 15px 15px 15px 15px;
}

div.detalle {
    padding: 15px 15px 15px 15px;
}

div.info {
    text-align: center;
}

button.btn {
    width: 80%;
    margin: 15px 15px 15px 15px;
}